html {
    font-size: 100%;
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.3;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
    font-variation-settings:"slnt" 0;
    background-color:var(--off-black);
}

a {
    text-decoration: none;
}

/* variables  */

:root {

 /* primary */

    --Green: hsl(75, 94%, 57%);
    --off-black:hsl(0, 0%, 8%);
    --Dark-Grey: hsl(0, 0%, 12%);
    --Grey: hsl(0, 0%, 20%);
    --White: hsl(0, 0%, 100%);


    --font-size-md:14px;
    --inter-font:"Inter", sans-serif;

}

section {
    position: relative; /* Ensure positioning works properly */
    overflow: hidden; /* Hide overflow of child container */
    height: 100vh;
    display: flex;
    justify-content: center;
    
}

.background-container {
    position: absolute; /* Position the container absolutely */
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-image: url(./assets/images/color-2174066_1920.png); 
    background-size: cover; /* Cover the entire container */
    background-position: center; 
    filter: saturate(1) opacity(0.50);
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative; /* Ensure proper stacking */
    z-index: 1; /* Ensure content is above background */
}

.card {
    background-color: var(--Dark-Grey);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:2rem 2rem;
    border-radius: 0.5rem;
    transition: all 400ms ease-in-out;
    transform: translateY(0px);

    &:hover {
        box-shadow: 5px 5px 0px 0px hsla(0, 0%, 94%, 0.863) ;
        transform: translateY(-10px);
    }

}

/* IMAGE STYLING  */

.image-container {
    position: relative;
    display: inline-block;
}

.photo {
    width: 100px; /* Adjust as needed */
    height: auto;
    border-radius: 50%;
    transition: transform 0.4s ease-in-out;
}

.photo:hover,
.photo.active {
    transform: scale(4.0) translateY(50px); /* Adjust scale factor as needed */
    z-index: 9999;

}



.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.overlay.active {
    display: flex;
}

.overlay img {
    max-width: 90%;
    max-height: 90%;
}

.profile-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}



h1 {
    font-size: 20px;
    font-weight: 700;
    color: var(--White);
    
}



h2 {
    color: var(--Green);
    font-weight: 600;
    font-size: 14px;
}

p {
    color: rgb(216, 209, 209);
    font-size: var(--font-size-md);
    font-weight: 400;
}

.link-item {
    min-width: 270px;
    color: var(--White);
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    background-color: var(--Grey);
    padding: 1rem 0 1rem 0;
    align-self: stretch;
    text-align: center;
    margin-top: 1rem;
    border-radius: 0.5rem;
    transition: all 350ms ease-in-out;

    &:hover {
        background-color: var(--Green);
        color: var(--off-black);

    }
}

.attribution {
    text-align: center;
    font-size:0.875rem;
    letter-spacing: 1.5px;
    font-weight: 700;
    color:var(--Green);
    text-transform: lowercase;
}
.footer { 
    color: white;
    font-size: 0.875rem ;
    font-weight: 700;
    text-decoration: underline;
}
